html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #808080;
}

#main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

canvas {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 5;
}
#content{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 11;
}
.imgDiv {
  position: absolute;
  width: clamp(150px, 5vw, 300px); /* Scales between 150px and 300px based on viewport width */
  height: clamp(150px, 5vw, 300px); /* Scales between 150px and 300px based on viewport width */
  margin: 0;
  padding: 0;
  z-index: 10;
  border:2px solid red
}

.end-of-experiment,
.collabInstructions,
.sepInstructions,
.instructions,
.breakDiv,
.practiceInstructions {
  text-align: center;
  width: 500px; /* Width of the square */
  height: 600px; /* Height of the square */
  margin: 0 auto; /* Center the div horizontally */
  font-size: 18px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  overflow: auto; /* Add scrollbar if content overflows */
}